<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Every academic needs a psychic friend.</h2>
                <hr class="light">
                <p class="text-faded">Hope is critical of power. Join the Academic Psychic Friends Network for content that moves from hope to community and from community to action.</p>
                <p class="text-faded">The APFN is a newsletter and a tarot deck. </p>                
                <a href="https://apfn.substack.com/" class="btn btn-default btn-xl">Join the newsletter.</a><a href="https://apfn.substack.com/" class="btn btn-default btn-xl">Kickstarter coming.</a>
            </div>
        </div>
    </div>
</section>
