<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="" class="portfolio-box">
                    <img src="img/portfolio/gradstudent.jpg" class="img-responsive" alt="Card 0: The Graduate Student">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                0: The Graduate Student
                            </div>
                            <div class="project-name">
                                UPRIGHT: Beginnings, innocence, spontaneity, a free spirit<br><br>
                                REVERSED: Holding back, recklessness, risk-taking
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/sidegig.jpg" class="img-responsive" alt="Card 7: The Side Gig">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                7: The Side Gig
                            </div>
                            <div class="project-name">
                                UPRIGHT: Control, willpower, success, action, determination<br><br>
                                REVERSED: Self-discipline, opposition, lack of direction
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/abd.jpg" class="img-responsive" alt="Card 9: The ABD">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                9: The ABD
                            </div>
                            <div class="project-name">
                                UPRIGHT: Soul-searching, introspection, being alone, inner guidance<br><br>
                                REVERSED: Isolation, loneliness, withdrawal
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/jobmarket.jpg" class="img-responsive" alt="Card 10: The Job Market">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                10: The Job Market
                            </div>
                            <div class="project-name">
                                UPRIGHT: Good luck, karma, life cycles, destiny, a turning point<br><br>
                                REVERSED: Bad luck, resistance to change, breaking cycles
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/adjunct.jpg" class="img-responsive" alt="Card 12: The Adjunct">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                12: The Adjunct 
                            </div>
                            <div class="project-name">
                                UPRIGHT: Pause, surrender, letting go, new perspectives<br><br>
                                REVERSED: Delays, resistance, stalling, indecision
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/union.jpg" class="img-responsive" alt="Card 17: The Union">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                17: The Union
                            </div>
                            <div class="project-name">
                                UPRIGHT: Hope, faith, purpose, renewal, spirituality
                                <br><br>
                                REVERSED: Lack of faith, despair, self-trust, disconnection
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/spousalhire.jpg" class="img-responsive" alt="Card 18: The Spousal Hire">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                18: The Spousal Hire
                            </div>
                            <div class="project-name">
                                UPRIGHT: Illusion, fear, anxiety, subconscious, intuition<br><br>
                                REVERSED: Release of fear, repressed emotion, inner confusion
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/undergrad.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                19: The Undergrad
                            </div>
                            <div class="project-name">
                                UPRIGHT: Positivity, fun, warmth, success, vitality<br><br>
                                REVERSED: Inner child, feeling down, overly optimistic
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/commencement.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                21: Commencement 
                            </div>
                            <div class="project-name">
                                UPRIGHT: Completion, integration, accomplishment, travel<br><br>
                                REVERSED: Seeking personal closure, short-cuts, delays
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div> -->
        </div>
    </div>
</section>
